/dts-v1/;

/memreserve/ 0x1c000000 0x04000000;
/include/ "tegra11x.dtsi"
/include/ "chromeos.dtsi"
/include/ "flashmap-twostop-1mb.dtsi"

/ {
	model = "NVIDIA Dalmore";
	compatible = "nvidia,dalmore", "nvidia,tegra11x";

	config {
		silent_console = <0>;
		odmdata = <0x300d8011>;
		hwid = "ARM DALMORE TEST 6666";
	};

	aliases {
		console = "/serial@70006300";
                usb0 = "/usb@0x7d008000";
                usb1 = "/usb@0x7d000000";

		sdmmc0 = "/sdhci@78000600";
		sdmmc1 = "/sdhci@78000400";
	};

	chosen {
		bootargs = "";
	};

	memory {
		device_type = "memory";
		reg = <0x80000000 0xc0000000>;
	};

	serial@70006300 {
		status = "ok";
		/*
		 * TBD - use CONFIG_SYS_PLLP_BASE_IS_408MHZ somehow here.
		 * Currently I put this back to 216MHz in fdt_decode.c
		 */
		clock-frequency = <408000000>;
	};

	sdhci@78000400 {
		status = "ok";
		width = <4>;	/* width of SDIO port */
		removable = <1>;
		/* Parameter 3 bit 0:1=output, 0=input; bit 1:1=high, 0=low */
		cd-gpio = <&gpio 170 0>; /* card detect, gpio PV2(SDMMC3_CD_N)*/
		wp-gpio = <&gpio 132 0>; /* write protect, gpio PQ4(KB_COL4) */

		/*
		 * Dalmore board no longer uses gpio pin to enable power supply.
		 * Instead, it needs directly programming PMICs.
		 *
		 * 1. Provide power 3.3v for SDMMC3 controller:
		 *		LDO9_OUT -> VDDIO_SDMMC3_AP (65913)
		 * 2. Provide power 3.3v for SD card:
		 *		FET6/VOUT6 -> VDD_3V3_SD (65090)
		 */
	};

	sdhci@78000600 {
		status = "ok";
		width = <4>;	/* width of SDIO port */
		removable = <0>;
	};

	lcd {
		compatible = "nvidia,tegra2-lcd";
		width = <1366>;
		height = <768>;
		bits_per_pixel = <16>;
		pwfm = <&pwfm0>;
		display = <&display1>;
		frame-buffer = <0x1C022000>;

		pixel_clock = <68000000>;

		/* Timing: ref_to_sync, sync_width. back_porch, front_porch */
		horiz_timing = <0 30 52 64>;
		vert_timing = <12 5 20 25>;

		/* Parameter 3 bit 0:1=output, 0=input; bit 1:1=high, 0=low */
		gpios = <&gpio 56 3>,	/* PH0, LCD1_BL_PWM */
			<&gpio 58 3>,	/* PH2, LCD1_BL_EN */
			<&gpio 90 3>,	/* PL2, LVDS1_SHTDN */
			<&gpio 92 3>;	/* PL4, EN_VDD_PNL1 */
	};

	usb@0x7d000000 {
		status = "ok";
		host-mode = <1>;
		/* USB_VBUS_EN0:0:B: USB_VBUS_EN0 */
	};

	usbphy: usbphy@0 {
		compatible = "smsc,usb3315";
		status = "ok";
	};

	usb@0x7d008000 {
		status = "ok";
		utmi = <&usbphy>;
		host-mode = <0>;
		vbus-gpio = <&gpio 86 0>;       /* SPDIF_IN:1:B: USB_VBUS_EN1 */
	};
};
